# Ignore Play! working directory #
bin/
.eclipse
/modules
test-result
server.pid
*.iml
*.eml
.cache
logs
project/project
project/target
target
tmp
.idea
.idea_modules
db
.classpath
.project
.settings
out
conf/mail.conf
documentation/
Thumbs.db
.DS_Store