# Publish package to GitHub Packages
# ~
# See more: https://docs.github.com/pt/actions/guides/publishing-java-packages-with-maven
name: GitHub Packages
on:
  release:
    types: [ created ]
jobs:
  publish:
    name: Publish to Maven
    runs-on: ubuntu-latest
    container: mozilla/sbt:11.0.8_1.3.13
    steps:
      - uses: actions/checkout@v2
      - name: Set GitHub token
        run: git config --global github.token $TOKEN
        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish package (++2.13.5)
        run: sbt ++2.13.5 publish
      - name: Publish package (++2.12.13)
        run: sbt ++2.12.13 publish
