# Pull Request Actions.
# ~~~~
name: PR Actions
on:
  pull_request:
    types: [ opened, reopened, ready_for_review ]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  pr-labeler:
    name: Add Labels
    runs-on: ubuntu-latest
    steps:
      - uses: TimonVS/pr-labeler-action@v5
        with:
          configuration-path: .github/pr-auto-label.yml
